@import '../../../../../styles/styles.scss';

.user-row {
  // margin-top: 15px;
  // margin-bottom: 5px;
  // border-bottom: 1px solid $light-gray;
  height: 45px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $main-font;

  .row-text {
    font-family: $main-font;
    height: 45px;
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 14px;
    margin-left: 5px;
  }
}

.user-row-name {
  width: 20% !important;
}
.user-row-cycle {
  width: 15%;
}
.user-row-progress {
  width: 35%;
  margin-left: 5px;
}
.user-row-last3 {
  display: flex;
  width: 30%;
}

.previous-cycle {
  color: $dark-gray;
  margin-top: 5px;
  margin-right: 10px;
  height: 25px;
  text-align: center;
  border-radius: 5px;

  p {
    font-family: $main-font;
    font-size: 14px;
    margin-top: 7px;
    margin-left: -1px;

    @media screen and (max-width: 350px) {
      font-size: 12px;
    }
  }
}

.user-row-progress {
  position: relative;
  height: 25px;

  .progress-percent {
    position: absolute;
    color: $white;
    z-index: 100;
    top: 1px;
  }
}

.progress-bar {
  margin-top: 10px;
  width: 100px;
  height: 20px;
}
