@import '../../../styles/styles.scss';

.user-info-container {
  width: 100%;
  height: 100%;
  margin-top: 175px;

  @media (min-width: 600px) {
    margin-left: 55px;
  }
}

.user-info-button {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 3px;
}

.user-info-button.submit {
  margin-top: 20px;
  width: 30%;
  margin-left: 35%;
  background-color: $brand-color-green;
}

.user-info-button.cancel {
  background-color: $med-gray;
  margin-top: 20px;
  width: 30%;
  margin-left: 35%;
}

.user-info-form-buttons {
  display: flex;
  width: 100%;
}

.user-info-details {
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  font-family: $main-font;
  font-size: 18px;

  @media (max-width: 500px) {
    width: 90%;
    margin-left: 5%;
  }
}

.user-info-form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-info-item {
  margin: 10px;
  display: inline-block;

  .user-info-item-label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 16px;

  }

  input {
    border: none;
    padding: 5px;
    margin-top: 10px;
    width: 150px;
    font-size: 14px;
  }

  select {
    height: 30px;
    margin-top: 10px;
    width: 160px;
    font-size: 14px;
    border: none;
    text-transform: capitalize;
  }

  .name {
    text-transform: capitalize;
  }

}

.user-info-delete-user {
  margin-top: 20px;
  width: 30%;
  margin-left: 35%;
  background-color: $dark-red;
  border-radius: 3px;
  height: 35px;
  text-align: center;
  color: white;
  p {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    line-height: 35px;
  }
}

.modal-content {
  text-align: center;
}
