@import '../../../../styles/styles.scss';

.tile-summary {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  box-shadow: $med-shadow;
  background-color: white;

  @media (max-width: 400px) {
    width: 95%;
    margin-left: 2.5%;
  }
}

.tile-summary-header {
  width: 100%;
  background-color: $dark-gray;
  text-align: center;

  p {
    font-family: $main-font;
    padding: 5px;
    color: white;
    text-transform: uppercase;
  }
}


.user-info-labels {
  width: 100%;
  background-color: $med-gray;
  display: flex;

  p {
    color: $white;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
  }

    .user-name-label {
      width: 20% !important;
    }
    .user-cycle-label {
      width: 15%;
    }
    .user-progress-label {
      width: 35%;
      margin-left: 5px;
    }
    .user-last3-label {
      width: 30%;
      margin-left: -5px;
    }

  @media (max-width: 400px) {
    font-size: 10px;
  }
}

.user-rows-container .user-row:nth-child(even) {
  background: #f1f1f1;
}

.user-row-name {
  margin-left: 5px;
}
