@import '../../styles/styles.scss';

.user-info {
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.user-info-details {
  width: 60%;
  height: 100%;
  margin-left: 20%;
  font-family: $main-font;
  font-size: 18px;

  @media (max-width: 500px) {
    width: 90%;
    margin-left: 5%;
  }
}

.user-info-item {
  margin: 15px;
  margin-left: 30px;

  .label {
    display: inline-block;
    margin-bottom: 5px;
    width: 150px;
    margin-right: 10px;
  }

  .field {
    width: 80%;
    display: inline-block;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
  }

  .fa {
    cursor: pointer;
    margin-left: 10px;
    color: $med-gray;
    font-size: 14px;
  }
}
