@import '../../../../../styles/styles.scss';

.update-item {
  font-weight: bold;
  border-bottom: 1px solid $light-gray;
  color: $dark-gray;
  transition: box-shadow .3s ease;

  p {
    padding: 3px;
    font-size: 14px;
    font-family: $main-font;
    margin-left: 10px;
  }
}

.update-item-name {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
  color: $brand-color-green;
  margin-right: 5px;
}

.update-item-minutes {
  font-weight: bold;
  color: $brand-color-green;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.update-item-tile {
  margin-left: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: $brand-color-green;
}

.update-item-date {
  p {
    margin-top: 5px;
    font-size: 12px;
    padding-bottom: 10px;
  }
}
