@import '../../styles/styles.scss';

.program-header {
  z-index: 0;
  position: absolute;
  top: 0%;
  height: 150px;
  background-color: $brand-color-blue;
  border-bottom: 2px solid white;
  width: 100%;
}

.program-header-name {
  text-align: center;
  margin-top: 55px;
  font-family: $main-font;
  color: white;
  text-transform: uppercase;

  h1 {
    font-size: 24px;
  }
}

.program-header-tabs {
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
