.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

p {
  font-size: 20px;
  font-family: "Abel", sans-serif; }

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif; }

h4 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif; }

.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
  background: -webkit-linear-gradient(to right, #e3e2e2, #ffffff);
  background: linear-gradient(to right, #e3e2e2, #ffffff); }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.dev-label {
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  background-color: yellow; }

.exit {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 3%;
  transition: font 0.5s ease; }

.exit:hover {
  color: #fff; }

.list-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  color: #333; }

.dialog-text {
  font-size: 18px;
  margin-bottom: 10px; }

.regimen-list {
  width: 400px;
  color: #333; }
  @media (max-width: 500px) {
    .regimen-list {
      width: 300px; } }
  .regimen-list h3 {
    margin-bottom: 10px;
    margin-left: 10px; }

.regimens-button-container {
  display: flex;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 20px; }

.regimen-list-instructions {
  margin-left: 2%; }
  .regimen-list-instructions h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 0px;
    color: #f3a537; }
  .regimen-list-instructions p {
    margin-bottom: 10px; }
