@import '../../../../styles/styles.scss';

.create-tile-form {
  font-family: $main-font;
  font-size: 14px;
}

.create-tile-form-field {
  margin-bottom: 25px;
  height: 25px;
  width: 60%;
  margin-left: 20%;

  input {
    border: 1px solid $light-gray;
    padding: 8px;
  }
}

.create-tile-form-name {
  font-size: 14px;
  width: 100%;
}

.create-tile-form-hours {
  width: 25px;
  margin-right: 10px;
}

.create-tile-form-cycle {
  width: 80px;
  height: 30px;
  margin-right: 10px;
  padding: 8px;
  border-radius: 0px;
  border: 1px solid $light-gray;
}

// Entire Activities container
.tile-activities {
  margin-left: 10%;
  text-align: center;
}

.new-activity-button {
  cursor: pointer;
  background-color: $dark-gray;
  color: $white;
  margin-top: 30px;
  margin-left: -10%;
  width: 150px;
  height: 25px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $header-font;
  border-radius: 3px;

  .plus {
    font-size: 12px;
    margin-right: 10px;
  }
}

// All activities fields
.activities {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  input {
    border: 1px solid $light-gray;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
}

// Individual activity field with remove button
.activity-item {
  display: inline-block;
  display: grid;
  grid-template-columns: 3fr 1fr;

  button {
    cursor: pointer !important;
    font-size: 14px;
    color: $dark-gray;
    background-color: rgba(117, 190, 218, 0.0);
    width: 30px;
    height: 25px;
    margin-bottom: 5px;
    border: none;
    display: inline-block;
  }

}


@media only screen and (max-width: 940px) {
  .tile-form {
    padding: 0px 0px 25px 0px;
  }

  .activity-item {
    width: 100%;
    grid-template-columns: 5fr 1fr;

    .text-field {
      width: 100% !important;
    }
  }
}
