.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
  background: -webkit-linear-gradient(to right, #e3e2e2, #ffffff);
  background: linear-gradient(to right, #e3e2e2, #ffffff); }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.dev-label {
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Barlow", sans-serif;
  background-color: yellow; }

.exit {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 3%;
  transition: font 0.5s ease; }

.exit:hover {
  color: #fff; }

.list-title {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  color: #333; }

.dialog-text {
  font-size: 18px;
  margin-bottom: 10px; }

.create-tile-form-row {
  margin-bottom: 25px;
  width: 80%;
  margin-left: 10%;
  display: flex; }
  .create-tile-form-row input {
    width: 100%; }

.create-tile-form-field input {
  height: 25px;
  padding: 3px;
  font-family: "Barlow", sans-serif;
  font-size: 14px; }

.create-tile-form-name {
  width: 100%; }
  .create-tile-form-name input {
    border: 1px solid #d6d6d6;
    width: 100%;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    padding: 5px;
    text-transform: capitalize; }

.create-tile-form-hours {
  width: 50%; }
  .create-tile-form-hours input {
    text-align: center;
    width: 25%;
    margin-right: 10px;
    border: 1px solid #d6d6d6; }
  .create-tile-form-hours label {
    font-family: "Barlow", sans-serif; }

.create-tile-form-cycle {
  display: flex;
  width: 80px;
  margin-top: 0px;
  margin-right: 10px; }
  .create-tile-form-cycle select {
    height: 34px !important;
    border-radius: 0px;
    border: 1px solid #d6d6d6;
    font-family: "Barlow", sans-serif;
    font-size: 14px; }
  .create-tile-form-cycle label {
    line-height: 34px;
    margin-left: 10px;
    font-family: "Barlow", sans-serif; }

.tile-activities {
  margin-left: 10%;
  text-align: center; }

.new-activity-button {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  margin-top: 30px;
  margin-left: -10%;
  width: 150px;
  height: 25px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  border-radius: 3px; }

.activities {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; }
  .activities input {
    border: 1px solid #d6d6d6;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 16px; }

.activity-item {
  display: inline-block;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 50%;
  height: 35px; }
  .activity-item input {
    padding: 5px;
    font-family: "Barlow", sans-serif;
    font-size: 16px; }
  .activity-item button {
    cursor: pointer !important;
    font-size: 14px;
    color: #959595;
    background-color: rgba(117, 190, 218, 0);
    width: 30px;
    height: 25px;
    margin-bottom: 5px;
    border: none;
    display: inline-block; }

.create-tile-form-buttons {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .create-tile-form-buttons button {
    margin: 5px; }

@media only screen and (max-width: 940px) {
  .tile-form {
    padding: 0px 0px 25px 0px; }
  .activity-item {
    width: 100%;
    grid-template-columns: 5fr 1fr; } }
