@import '../../styles/styles.scss';

.entries-header {
  font-family: $header-font;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  color: $dark-gray;

  .entries-header-user {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;

    .fa {
      font-size: 28px;
      margin-left: 15px;
      margin-right: 15px;
      color: $dark-gray;
    }

  }

  .entries-header-regimen {
    text-transform: capitalize;
    margin-bottom: 10px;
    color: $dark-gray;
  }
}
