.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
  background: -webkit-linear-gradient(to right, #e3e2e2, #ffffff);
  background: linear-gradient(to right, #e3e2e2, #ffffff); }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.dev-label {
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Barlow", sans-serif;
  background-color: yellow; }

.exit {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 3%;
  transition: font 0.5s ease; }

.exit:hover {
  color: #fff; }

.list-title {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  color: #333; }

.dialog-text {
  font-size: 18px;
  margin-bottom: 10px; }

.create-user-form {
  font-family: "Barlow", sans-serif;
  font-size: 14px; }

.create-user-form-item {
  display: flex;
  margin-left: 5%;
  margin-bottom: 25px;
  width: 90%;
  height: 25px; }
  .create-user-form-item .label {
    width: 150px;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 25px;
    margin-right: 5px;
    font-size: 14px; }
    @media (max-width: 500px) {
      .create-user-form-item .label {
        margin-left: 0px;
        width: 100px; } }
  .create-user-form-item input {
    font-size: 14px;
    width: 50%;
    height: 20px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #d6d6d6; }
    @media (max-width: 500px) {
      .create-user-form-item input {
        width: 75%;
        margin-left: 0px; } }
  .create-user-form-item select {
    text-transform: capitalize;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    width: 150px;
    height: 30px; }

.regimen-checklist-item {
  display: flex;
  width: 150px; }
  .regimen-checklist-item input {
    width: 25px; }
  .regimen-checklist-item label {
    margin-top: 2px;
    text-transform: capitalize; }

.create-user-form-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center; }
  .create-user-form-buttons button {
    margin-left: 5px;
    margin-right: 5px;
    width: 100px; }

.clear-button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Barlow", sans-serif;
  background-color: #959595;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 30px; }
