@import '../../../../styles/styles.scss';

.admin-tile {
  z-index: 0;
  width: 175px;
  height: 175px;
  margin: 5px;
  font-family: $main-font;
  box-shadow: $small-shadow;
  position: relative;
  background-color: $white;
  overflow: hidden;
  min-width: 175px;
}

.admin-tile:hover {
  .admin-tile-overlay {
    display: block;
    background-color: $dark-gray;
    opacity: 0.9;
  }
}

.admin-tile-overlay {
  position: absolute;
  box-shadow: $small-shadow;
  width: 100%;
  z-index: 100;
  display: none;
  height: 100%;
}

.admin-tile-icons {
  width: 100%;
  margin-top: 25%;
  text-align: center;
  z-index: 101;

  .fa {
    cursor: pointer;
    font-size: 24px;
    color: white;
    display: inline-block;
    margin: 10px;
  }

  .fa:hover {
    color: $brand-color-green;
  }
}

.admin-tile-name {
  background-color: $med-gray;
  font-family: $main-font;
  color: white;
  padding: 3px;
  overflow-wrap: break-word;
  width: 100%;
  text-align: center;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: $header-font;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  text-overflow: clip ellipsis;
  height: 23px;
}

.admin-tile-goal {
  position: absolute;
  top: 22%;
  left: 5%;
  color: $dark-gray;

  .goal-label {
    color: $med-gray;
    font-size: 12px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
  }
}

.admin-tile-activities {
  position: absolute;
  width: 90%;
  top: 25%;
  left: 5%;

  .activities-label {
    color: $med-gray;
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-transform: uppercase;
  }

  .admin-tile-activity-item {
    display: block;
    font-size: 12px;
    margin-left: 5px;
    color: $dark-gray;
    text-transform: capitalize;
  }
}
