.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
  background: -webkit-linear-gradient(to right, #e3e2e2, #ffffff);
  background: linear-gradient(to right, #e3e2e2, #ffffff); }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.dev-label {
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Barlow", sans-serif;
  background-color: yellow; }

.exit {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 3%;
  transition: font 0.5s ease; }

.exit:hover {
  color: #fff; }

.list-title {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  color: #333; }

.dialog-text {
  font-size: 18px;
  margin-bottom: 10px; }

.admin-tile {
  z-index: 0;
  width: 175px;
  height: 175px;
  margin: 5px;
  font-family: "Barlow", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  background-color: #fff;
  overflow: hidden; }

.admin-tile:hover .admin-tile-overlay {
  display: block;
  background-color: #333;
  opacity: 0.9; }

.admin-tile-overlay {
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  z-index: 100;
  display: none;
  height: 100%; }

.admin-tile-icons {
  width: 100%;
  margin-top: 25%;
  text-align: center;
  z-index: 101; }
  .admin-tile-icons .fa {
    cursor: pointer;
    font-size: 24px;
    color: white;
    display: inline-block;
    margin: 10px; }
  .admin-tile-icons .fa:hover {
    color: #00c7a9; }

.admin-tile-name {
  background-color: #333;
  font-family: "Barlow", sans-serif;
  color: white;
  padding: 3px;
  overflow-wrap: break-word;
  width: 100%;
  text-align: center;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 16px; }

.admin-tile-goal {
  position: absolute;
  top: 22%;
  left: 5%;
  color: #333; }
  .admin-tile-goal .goal-label {
    color: #959595;
    font-size: 12px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-transform: uppercase; }
  .admin-tile-goal p {
    font-size: 14px; }

.admin-tile-activities {
  position: absolute;
  width: 90%;
  top: 25%;
  left: 5%; }
  .admin-tile-activities .activities-label {
    color: #959595;
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-transform: uppercase; }
  .admin-tile-activities .admin-tile-activity-item {
    font-size: 12px;
    padding: 2px;
    margin: 1px;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    text-transform: capitalize; }

.admin-tile-activity-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%; }
