@import '../../styles/styles.scss';

.new-button {
  text-align: right;
  button {
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $header-font;
    height: 25px;
    background-color: $brand-color-orange;
    color: $white;
    transition: background-color .5s ease;
    margin-bottom: 25px;

    .plus {
      font-size: 12px;
      margin-right: 10px;
    }

    @media (max-width: 400px) {
      width: 125px;
      font-size: 10px;
      padding: 5px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }

  button:hover {
    background-color: $brand-orange-dark;
  }
}
