$brand-color-green: #00c7a9;
$brand-green-dark: #006556;

$brand-color-blue: #185d7e;
$accent-blue: #0082c7;
$brand-color-orange: #f3a537;
$brand-orange-dark: #da9431;
$brand-orange-light: #fce6c9;

$white: #fff;
$dark-gray: #333;
$light-gray: #d6d6d6;
$light-gray-hover: #c0c0c0;

$very-light-gray: #e3e3e3;
$med-gray: #959595;
$dark-red: #b21515;

$background-gray: #FFFFFF;


.color-0 {
  background-color: #A81D1F;
}
.color-1 {
  background-color: #A83E20;
}
.color-2 {
  background-color: #A85F22;
}
.color-3 {
  background-color: #A87F24;
}
.color-4 {
  background-color: #A89E26;
}
.color-5 {
  background-color: #95A829;
}
.color-6 {
  background-color: #79A82B;
}
.color-7 {
  background-color: #5DA82D;
}
.color-8 {
  background-color: #42A82F;
}
.color-9 {
  background-color: #32A83A;
}
