@import '../../../../../styles/styles.scss';

.user-info {
  margin-top: 5px;
}

.user-name {
  font-family: $main-font;
  font-size: 16px;
  font-weight: bold;
  color: $dark-gray;
}

.user-regimen {
  margin-top: 3px;
  font-size: 12px;
  font-family: $main-font;
  color: $dark-gray !important;
}

.user-item-icons {
  margin-top: 15px;
  margin-right: 10px;
  .fa {
    margin-left: 15px;
  }
  .fa:hover {
    color: $brand-color-green;
  }
}
