@import '../../../../styles/styles.scss';

.radio-button-container {
  display: flex;
  width: 100px;
  color: white;
  margin-left: 30%;

  div {
    margin-right: 20px;
  }

  p {
    margin-top: 10px;
    font-family: $main-font;
    font-size: 18px;
    font-weight: bold;
    min-width: 60px;
  }

  @media (max-width: 400px) {
    margin-left: 25px;
  }
}

.account-field {
  margin-left: 15%;
  width: 150px;
  font-size: 14px !important;
  margin-bottom: 20px;
}

.login-button {
  margin-top: 10px !important;
}
