.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

p {
  font-size: 20px;
  font-family: "Abel", sans-serif; }

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif; }

h4 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif; }

.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
  background: -webkit-linear-gradient(to right, #e3e2e2, #ffffff);
  background: linear-gradient(to right, #e3e2e2, #ffffff); }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.dev-label {
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  background-color: yellow; }

.exit {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 3%;
  transition: font 0.5s ease; }

.exit:hover {
  color: #fff; }

.list-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  color: #333; }

.dialog-text {
  font-size: 18px;
  margin-bottom: 10px; }

.user-tile {
  position: relative;
  margin: 10px;
  width: 180px;
  height: 180px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #333;
  background-color: #fff; }

.user-tile:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.user-tile-label {
  font-size: 12px;
  font-weight: bold;
  color: #959595;
  text-transform: uppercase; }

.no-entries-message {
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-family: "Abel", sans-serif;
  color: #959595; }

.user-time {
  font-size: 24px; }

.user-tile-hours, .user-tile-minutes {
  margin: 3px; }

.tile-color-block {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 30%;
  text-align: center; }
  .tile-color-block p {
    margin: 7px;
    color: #fff;
    font-size: 16px !important;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase; }

.user-tile-time {
  position: absolute;
  top: 35%;
  margin-left: 25%;
  width: 50%;
  font-weight: bold;
  font-family: "Montserrat", sans-serif !important; }
  .user-tile-time .user-tile-hours, .user-tile-time .user-tile-minutes {
    display: inline-block;
    height: 50px;
    width: 30px; }
    .user-tile-time .user-tile-hours p, .user-tile-time .user-tile-minutes p {
      margin-top: 2px; }

.user-tile-details {
  position: absolute;
  text-align: left;
  left: 15%;
  top: 75%;
  width: 100%; }
  .user-tile-details p {
    font-size: 14px; }

.user-tile-details-label {
  text-transform: uppercase;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #959595; }
