@import '../../../../styles/styles.scss';

.admin-user-cycle {
  width: 90%;
  margin-left: 5%;
  box-shadow: $small-shadow;
  border-radius: 3px;
  margin-bottom: 10px;
}

.admin-user-cycle-header {
  position: relative;
  color: $white;
  height: 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $main-font;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.user-cycle-progress {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 28px;
}

.cycle-header-labels {
  margin-top: 10px;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 0.25fr;

  p {
    color: $med-gray;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
  }

  @media (max-width: 400px) {
    font-size: 10px;
  }
}

.cycle-label-menu {
  width: 48px;
}

.admin-user-cycle-dates {
  position: absolute;
  display: inline-block;
  width: 200px;
  z-index: 1;
  padding: 5px;
}

.admin-user-cycle-minutes {
  position: absolute;
  right: 5%;
  display: inline-block;
  padding: 5px;

  span {
    margin: 0px 8px;
  }
}

.cycle-expand-icon {
  cursor: pointer;
  position: absolute;
  right: 3%;
  font-size: 14px;
  top: 25%;
  display: inline-block;
  color: white;
}

.cycle-percent {
  padding-right: 1%;
  margin-top: 5px;
  text-align: right;
}

.cycle-entries-container {

}

@media (max-width: 425px) {
  .user-cycle-header {
    font-size: 12px;
  }
}
