@import '../../../../styles/styles.scss';

.regimen-item {
  cursor: pointer;
  position: relative;
  margin: 0px 10px 5px 10px;
  height: 50px;
  font-weight: bold;
  background-color: $white;
  // border: 1px solid $light-gray;
  color: $dark-gray;
  transition: box-shadow .3s ease;

  p {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 50px;
    margin-left: 10px;
  }
}
