@import '../../../../styles/styles.scss';

.create-entry-exit {
  cursor: pointer;
  font-size: 20px;
  color: $dark-gray;
  position: absolute;
  display: inline-block;
  top: 15%;
  right: 10%;
  transition: font 0.5s ease;
}

.create-entry-date-activity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.create-entry-container {
  width: 100%;
}

.create-entry-form {
  width: 100%;
  margin-left: 0%;
  padding: 5%;
  font-family: $main-font !important;
}

.entry-date-field {
  cursor: pointer !important;
  width: 100px !important;
  height: 50px !important;
  padding-left: 20px !important;
  padding-right: 3px;
  margin-right: 25px !important;
  margin-bottom: 5px;
  border-bottom: 1px solid $med-gray;

  input {
    cursor: pointer !important;
  }
}

.entry-select-field {
  width: 250 !important;
  height: 50px !important;
  padding-left: 20px !important;
  cursor: pointer !important;
  border-bottom: 1px solid $med-gray;
  text-transform: capitalize !important;

  button {
    fill: $dark-gray !important;
  }
}

.entry-activity-item {
  text-transform: capitalize !important;
}

.create-entry-sliders {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-top: 25px;
  margin-bottom: -50px;
  display: block;
}

.hour-slider, .minute-slider {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-left: 5px;

  .slider {
    width: 150px;
  }

  p {
    position: absolute;
    color: $dark-gray;
    font-size: 14px;
    top: 0;
    left: 0;
  }
}

.user-select {
  height: 25px;
}

.create-entry-time {
  width: 1000px;
  .entry-text-field {
    width: 75px !important;
    margin: 0px 15px 0px 0px;
    height: 75px !important;
  }
}

.create-entry-notes {
  margin-top: 0px;
  width: 100%;

  .entry-text-field {
    width: 90% !important;
    height: 100px !important;
  }
}
