@import '../../styles/styles.scss';

.form-buttons {
  text-align: center !important;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  padding-right: 5px;
  text-transform: uppercase;
  font-family: $header-font;
  font-size: 14px;

  button {
    cursor: pointer;
    box-shadow: $small-shadow;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    height: 25px;
    color: $white;
    text-transform: uppercase;
    font-family: $header-font;
    font-size: 12px;
    transition: background-color .5s ease;
  }
}

// .submit-button {
//   width: 150px;
//   background-color: $brand-color-green;
//   margin-bottom: 5px;
// }


.close-button {
  width: 30px !important;
  background-color: $dark-gray;
}
