@import '../../../styles/styles.scss';

.recent-activity-item {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr;
  // justify-content: space-between;
  margin: 10px;
  background-color: white;
  color: $dark-gray;

  @media (max-width: 400px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .user {
    padding: 15px;
    text-transform: capitalize;

    @media (max-width: 400px) {
      padding: 5px;
    }

    .name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .active-program {
      font-size: 12px;
    }
  }

  .activity-info {
    padding: 15px;
    text-transform: capitalize;

    @media (max-width: 400px) {
      padding: 5px;
    }

    .tile-name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .activity {
      font-size: 12px;
      text-transform: capitalize;
    }
  }


  .time {
    padding: 15px;
    text-align: right;

    @media (max-width: 400px) {
      padding: 5px;
    }

    .minutes {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .date {
      color: $med-gray;
      font-size: 12px;
    }
  }
}
