@import '../../../styles/styles.scss';

.recent-activity-item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: white;
  color: $dark-gray;

  .user {
    width: 100px;
    padding: 15px;
    text-transform: capitalize;
  }

  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .active-regimen {
    font-size: 12px;
  }

  .activity-info {
    width: 100px;
    padding: 15px;
    text-transform: capitalize;
  }

  .tile-name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .activity {
    font-size: 12px;
    text-transform: capitalize;
  }

  .time {
    width: 80px;
    padding: 15px;
    text-align: right;
  }

  .minutes {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .date {
    color: $med-gray;
    font-size: 12px;
  }
}
