@import '../../../../styles/styles.scss';

.create-regimen-form {
  display: flex;
  justify-content: center;

  label {
    line-height: 40px;
    height: 40px;
    font-family: $main-font;
    margin-right: 10px;
  }
}

.create-regimen-form-field {
  width: 50%;
  border: 1px solid $light-gray;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-family: $main-font;
}

.create-regimen-button-active {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $header-font;
  background-color: $brand-color-orange;
  color: $white;
  border-radius: 3px;
  border: none;
  width: 40%;
  margin-top: 50px;
  margin-left: 30%;
  height: 30px;

  @media (max-width: 500px) {
    width: 80%;
    margin-left: 10%;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.create-regimen-button {
  cursor: not-allowed;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $header-font;
  background-color: $med-gray;
  color: $white;
  border-radius: 3px;
  border: none;
  width: 40%;
  margin-top: 50px;
  margin-left: 30%;
  height: 30px;

  @media (max-width: 500px) {
    width: 80%;
    margin-left: 10%;
  }
}
