.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
  background: -webkit-linear-gradient(to right, #e3e2e2, #ffffff);
  background: linear-gradient(to right, #e3e2e2, #ffffff); }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.dev-label {
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Barlow", sans-serif;
  background-color: yellow; }

.exit {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 3%;
  transition: font 0.5s ease; }

.exit:hover {
  color: #fff; }

.list-title {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  color: #333; }

.dialog-text {
  font-size: 18px;
  margin-bottom: 10px; }

.create-regimen-form {
  display: flex;
  justify-content: center; }
  .create-regimen-form label {
    line-height: 30px;
    height: 30px;
    font-family: "Barlow", sans-serif;
    margin-right: 10px; }

.create-regimen-form-field {
  width: 50%;
  height: 12px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-family: "Barlow", sans-serif; }

.create-regimen-button-active {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Barlow", sans-serif;
  background-color: #f3a537;
  color: #fff;
  border-radius: 3px;
  border: none;
  width: 40%;
  margin-top: 50px;
  margin-left: 30%;
  height: 30px; }
  @media (max-width: 500px) {
    .create-regimen-button-active {
      width: 80%;
      margin-left: 10%; } }

.button-container {
  display: flex;
  justify-content: center; }

.create-regimen-button {
  cursor: not-allowed;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Barlow", sans-serif;
  background-color: #959595;
  color: #fff;
  border-radius: 3px;
  border: none;
  width: 40%;
  margin-top: 50px;
  margin-left: 30%;
  height: 30px; }
  @media (max-width: 500px) {
    .create-regimen-button {
      width: 80%;
      margin-left: 10%; } }
