@import '../../../../styles/styles.scss';

.create-tile-form-row {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;

  label {
    font-family: $main-font;
    font-weight: bold;
    font-size: 14px;
  }
}

.create-tile-form-field {
  input {
    margin-top: 5px;
    height: 30px;
    font-family: $main-font;
    font-size: 14px;
    padding: 3px;
  }
}

.create-tile-form-name {
  width: 100%;
  text-align: center;

  label {
    margin-right: 15px;
    font-family: $main-font;
    font-weight: bold;
    font-size: 14px;
  }

  input {
    height: 20px;
    border: 1px solid $light-gray;
    width: 150px;
    font-family: $main-font;
    font-size: 14px;
    padding: 5px;
    text-transform: capitalize;
  }
}

.create-tile-form-hours {
  input {
    font-size: 14px;
    height: 20px;
    text-align: center;
    width: 30px;
    margin-right: 10px;
    border: 1px solid $light-gray;
  }

  label {
    font-family: $main-font;
    margin-right: 10px;
  }
}

.create-tile-form-cycle {
  display: flex;
  margin-top: 2px;
  margin-right: 10px;

  select {
    width: 75px;
    height: 34px !important;
    border-radius: 0px;
    border: 1px solid $light-gray;
    font-family: $main-font;
    font-size: 14px;
  }

  label {
    line-height: 34px;
    margin-left: 10px;
    font-family: $main-font;
  }
}

// Entire Activities container
.tile-activities {
  text-align: center;
}

.new-activity-button {
  cursor: pointer;
  background-color: $dark-gray;
  color: $white;
  margin-top: 30px;
  width: 150px;
  height: 25px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $header-font;
  border-radius: 3px;
}

// All activities fields
.activities {
  margin-top: 20px;
  margin: 0 auto;

  // input {
  //   border: 1px solid $light-gray;
  //   text-transform: capitalize;
  //   margin-bottom: 5px;
  //   font-size: 16px;
  // }
}

// Individual activity field with remove button
.activity-item {
  display: block;
  height: 35px;

  input {
    margin-left: 5%;
    width: 180px;
    padding: 5px;
    font-family: $header-font;
    font-size: 14px;
    text-transform: capitalize;
  }

  button {
    cursor: pointer !important;
    font-size: 14px;
    color: $med-gray;
    background-color: rgba(117, 190, 218, 0.0);
    width: 30px;
    height: 25px;
    margin-bottom: 5px;
    border: none;
    display: inline-block;
  }
}

.create-tile-form-buttons {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;

  button {
    font-family: $main-font;
    height: 30px;
    width: 100px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 3px;
    margin: 5px;
  }

  .submit-button {
    background-color: $brand-color-green;
  }

  .clear-button {
    background-color: $med-gray;
  }
}
