@import '../../styles/styles.scss';

.admin-home {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regimens-card, .players-card, .activity-card {
  margin: 15px;
  flex-grow: 0.3;
}

.players-card, .regimens-card {
  width: 150px;
}

.activity-card {
  width: 320px
}
