@import '../../../../../styles/styles.scss';

.regimen-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30px;
  font-weight: bold;
  border-bottom: 1px solid $light-gray;
  color: $dark-gray;
  transition: box-shadow .3s ease;

  p {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 30px;
    margin-left: 10px;
  }
}

.regimen-item:hover {
  background-color: $light-gray;
}

.regimen-item-icons {
  margin-top: 15px;
  margin-right: 10px;

  a {
    margin-left: 15px;
  }

  a:hover {
    color: $brand-color-green;
  }
}
