@import '../../../../../styles/styles.scss';

.regimen-item {
  display: inline-block;
  margin: 25px;
  width: 200px;
  text-align: center;
  font-weight: bold;
  color: $dark-gray;
  background-color: white;

  p {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 75px;
  }
}


.regimen-item-icons {
  margin-top: 15px;
  margin-right: 10px;

  a {
    margin-left: 15px;
  }

  a:hover {
    color: $brand-color-green;
  }
}
