@import '../../styles/styles.scss';

.admin-programs {
  z-index: 100;

  @media (min-width: 600px) {
    margin-left: 55px;
  }
}

.admin-programs-labels {
  background-color: $dark-gray;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  p {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
  }

  span {
    margin-left: 5px;
    cursor: pointer;
  }

  .latest {
    text-align: right;
  }
}

.admin-programs-content {
  margin: 175px auto;
  width: 80%;
  max-width: 450px;
  margin-bottom: 50px;

  @media (max-width: 480px) {
    width: 90%;
  }
}

.admin-programs-programs {
  box-shadow: $small-shadow;
}
