@import '../../../../styles/styles.scss';

.tile-summary {
  background-color: $background-gray;
  width: 80%;
  margin-bottom: 25px;

  @media (max-width: 400px) {
    width: 95%;
  }
}

.tile-summary-header {
  width: 100%;
  background-color: $dark-gray;
  text-align: center;

  p {
    margin-left: 10px;
    color: $white;
    text-transform: uppercase;
  }
}


.user-info-labels {
  width: 100%;
  background-color: $med-gray;
  display: flex;

  p {
    color: $white;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
  }

    .user-name-label {
      width: 20% !important;
    }
    .user-cycle-label {
      width: 15%;
    }
    .user-progress-label {
      width: 35%;
    }
    .user-last3-label {
      width: 30%;
    }

  @media (max-width: 400px) {
    font-size: 10px;
  }
}
