.color-0 {
  background-color: #A81D1F; }

.color-1 {
  background-color: #A83E20; }

.color-2 {
  background-color: #A85F22; }

.color-3 {
  background-color: #A87F24; }

.color-4 {
  background-color: #A89E26; }

.color-5 {
  background-color: #95A829; }

.color-6 {
  background-color: #79A82B; }

.color-7 {
  background-color: #5DA82D; }

.color-8 {
  background-color: #42A82F; }

.color-9 {
  background-color: #32A83A; }

html, body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
  background: -webkit-linear-gradient(to right, #e3e2e2, #ffffff);
  background: linear-gradient(to right, #e3e2e2, #ffffff); }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.dev-label {
  position: absolute;
  top: 1%;
  right: 2%;
  text-align: center;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-family: "Barlow", sans-serif;
  background-color: yellow; }

.exit {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 3%;
  transition: font 0.5s ease; }

.exit:hover {
  color: #fff; }

.list-title {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 10px; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  color: #333; }

.dialog-text {
  font-size: 18px;
  margin-bottom: 10px; }

.login-container {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  color: #333;
  font-family: "Barlow", sans-serif; }
  @media (min-width: 600px) {
    .login-container {
      width: 50%;
      left: 25%; } }

.login-form-container {
  margin-top: 90px; }

.create-form-container {
  margin-top: 60px; }
  @media (max-width: 600px) {
    .create-form-container {
      margin-top: 50px; } }

.login-form-container, .create-form-container {
  padding: 20px; }
  .login-form-container .email-field, .login-form-container .password-field, .login-form-container .code-field, .create-form-container .email-field, .create-form-container .password-field, .create-form-container .code-field {
    width: 80%;
    margin-left: 10%;
    padding-left: 10px;
    margin-bottom: 15px;
    height: 40px;
    border: none;
    background-color: #fff;
    font-size: 14px; }
    @media (max-width: 400px) {
      .login-form-container .email-field, .login-form-container .password-field, .login-form-container .code-field, .create-form-container .email-field, .create-form-container .password-field, .create-form-container .code-field {
        height: 30px;
        width: 90%;
        margin-left: 5%; } }
  .login-form-container .login-forgot-password, .create-form-container .login-forgot-password {
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #fff; }
  .login-form-container .login-button, .create-form-container .login-button {
    cursor: pointer;
    margin-top: 25px;
    width: 83%;
    margin-left: 10%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #00c7a9;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px; }
    @media (max-width: 400px) {
      .login-form-container .login-button, .create-form-container .login-button {
        width: 95%;
        margin-left: 5%;
        font-size: 12px;
        height: 30px; } }

.login-info {
  background-color: #185d7e;
  text-align: center;
  padding-top: 50px; }
  .login-info img {
    width: 50px; }
  .login-info h3 {
    color: #fff;
    margin: 20px; }

.login-create-account {
  margin-top: 15px;
  text-align: center; }
  .login-create-account p {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease; }
  .login-create-account p:hover {
    color: #00c7a9; }

.form-submit-error, .auth-error {
  font-size: 12px;
  color: #f3a537;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px; }

.auth-error {
  margin-top: 5px; }
