@import '../../styles/styles.scss';

.user-header {
  z-index: 0;
  position: absolute;
  top: 0%;
  height: 150px;
  background-color: $dark-gray;
  border-bottom: 2px solid white;
  width: 100%;

  @media (min-width: 600px) {
    margin-left: 55px;
  }
}

.user-header-name {
  text-align: center;
  margin-top: 55px;
  font-family: $main-font;
  color: white;

  h1 {
    font-size: 24px;
    text-transform: uppercase;
  }

  h2 {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 18px;
  }
}

.user-header-tabs {
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
