@import '../../../styles/styles.scss';

.user-item {
  cursor: pointer;
  width: 100% !important;
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30px;
  background-color: $white;
  border-bottom: 1px solid $light-gray;

  p {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    line-height: 30px;
  }
}

.user-item:hover {
  background-color: $light-gray;
}

.user-item-name, .user-item-program {
  text-transform: capitalize;
  font-size: 14px;
}

.user-item-entry {
  width: 75px;
  font-size: 10px;
  color: $med-gray;
}
